.valid {
  color: green;
}
.invalid {
  color: red;
}
.elrejt {
  display: none;
}

ul {
  display: flex;
  list-style: none;
}
li {
  padding: 5px;
}
.szerk form{
  margin: -20px;
  display: flex;
}

